<form #reporterForm="ngForm" class="container mt-5" (ngSubmit)="login(reporterForm.value)">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        ngModel
        name = "email"
        #email = "ngModel"
        required
        >
        <div class="error d-flex justify-content-center" *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors?.['required']"> Email is required</div>
            <div *ngIf="email.errors?.['email']"> Please Enter A valid email</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        ngModel
        name = "password"
        #password = "ngModel"
        minlength="6"
        required
        >
        <div class="error d-flex justify-content-center" *ngIf="password.touched && password.invalid">
            <div *ngIf="password.errors?.['required']"> Password is required</div>
            <div *ngIf="password.errors?.['minlength']">
                Password minlength is {{password.errors?.['minlength'].requiredLength}}
                .... You have entered {{password.errors?.['minlength'].actualLength}}</div> 
        </div>
    </div>
    <div class="error d-flex justify-content-center" *ngIf="invalidlogin">Please Check Your Email or Your Password</div>

    <button type="submit" class="btn btn-primary" [disabled] = "reporterForm.invalid">Submit</button>
</form>