<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" routerLink = "/" *ngIf="!islogedin">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/signup" *ngIf="!islogedin">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile" *ngIf="islogedin">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/news" *ngIf="islogedin">All News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addnews" *ngIf="islogedin">Add News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/updatenews/:id" *ngIf="islogedin">Update News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/editprofile" *ngIf="islogedin">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/" (click)="logout()" *ngIf="islogedin">Logout</a>
            </li>
        </ul>
    </div>
    </div>
</nav>